/** Calendar Navigation Start **/
.calendar-nav{
    margin: 1em;
}
.calendar-nav h3{
    display: inline-block;
    margin: 0 0.5em;
}

td{
    padding: 0.5em 2em;
}

thead tr{
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
}

thead td {
    font-weight: bold;
}

/** Calendar Navigation END **/

/** Calendar Table Start **/

.weekend{
    color: #c12e2a;
}

.prev-month, .next-month{
    color: #999999;
}

#today.day{
    background-color: #C7C7C7;
}

#today.day:hover{
    background-color: #eee;
}
.day:hover{
    background: #eeeeee;
    cursor: pointer;
}
/** Calendar Table END **/

.calendar{
    text-align: center;
    margin: 0 20%;
}

.booking{
    margin: 0 20%;
}

h3.calendar{
    text-align: center;
}
